.img-header{
    width: 100%;
    height: 88vh;
    filter: brightness(0.3);
}
figure{
    position: relative;
}
.header-text{
    position: absolute;
    text-align: center;
    margin: auto;
    color: #fff;
    margin:200px;
    max-width: 500px;
}

.header-text a{
    background-color: orange;
    padding: 6px 12px;
    border-radius: 4px;
    margin-top: 20px;
    float: left;
    color: #fff;
}

figure img{
    position: absolute;
    top: 0;
    z-index: -1;
}

@media screen  and (max-width:700px){
    .header-text{
        margin: 100px 80px;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 10px;
        border-radius: 8px;
        color: black;
    }

    .img-header{
        height: 65vh;
    }
}