.header{
    background-color: blue;
    color: white;
    font-size: 14px;
}
.header .container .row .col-6 .icon{
    color: orange;
    margin-right: 15px;
}

.header .container .row .col-xs-6{
    padding: 5px;
    height: 30px;
    vertical-align: 10px;
}
.soshial-media{
    text-align: left;

}
.soshial-media .f{
    color: wheat;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.soshial-media .f:hover{
    background-color: orange;
}