.state-section-wrapper{
    background-color: #ffc412;
    height: 200px;
    font-size: 20px;
    padding: 40px;
}
.mt-120{
    margin-top: 120px;
}
.number{
    color: white;
    font-size: 20px;
}
.state-icon{
    font-size: 30px;
    margin: 10px;
}