@import '_cantact.css';
@import '_nav.css';
@import '_header.css';
@import '_course.css';
@import '_about.css';
@import 'font.css';
@import '_teacher.css';
@import 'state.css';
* {
    direction: rtl;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vazir;
}